.polarTable{
border-collapse:collapse;
border-spacing:0;
text-align:center;
width: 100%;
}

.polatTable th{

	padding:2px 2px;
	border:solid 1px #ccc;
}

.polarTable td{

	padding:2px 2px;
	border:solid 1px #ccc;
	
}

